


.body {
    background-color: #d4d9c8;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    text-decoration: none;
}

.wrap{
    height: auto;
    width: 100%;
}

.paragraph__link {
    background-color: #dab8ab;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: black;
    text-decoration: none;
    width: 300px;
}

.paragraph {
    list-style: none;
    border: #0a1575 solid 1px;
    border-radius: 3px;
    display: flex;
    justify-content: center;

}

.nav__paragraph-list {
    display: flex;
    justify-content: space-between;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.active{
    background-color: #72e0f1;
}
